[workflow]

# set this to false if we want to use non-preemptible machines
align_spot = true

# for HaplotypeCaller
# Maximum number of reads to retain per alignment start position. Reads above this threshold will be downsampled. Set to 0 to disable.
downsample_reads = 20

# exome/genome workflows choose one of these default values
exome_realignment_shards = 1
genome_realignment_shards = 10

# use the HIGHMEM template machine type for alignment
align_use_highmem = false

# whether to bank the sorted BAM to GCP (temp) prior to markdup
checkpoint_sorted_bam = false

scatter_count_genotype = 50

# storage required for the post-processing of the gVCF files
postproc_gvcf_storage = 20

# Experimentally validated best reblocking bands for GATK ReblockGVCF, from seqr-loader config
reblock_gq_bands = [13, 20, 30, 40]

# attached storage for haplotypecaller jobs, defaulting to 40 for Genomes, and None for other seqencing_types
#haplotypecaller_storage = 100

# number of threads to use for alignment, defaulting to 32 on a 16-core machine
#align_threads

# to manually set the storage attached to align jobs
#align_storage = 100

# set to assign a specific amount of RAM to the picard jobs, defaults available
#picard_mem_gb

# set to use highmem workers for picard qc metrics jobs, defaults to false
picard_metrics_use_highmem = false

# set to override the picard attached storage, default 250
picard_storage_gb = 250

# used to make sure we don't repeat previously completed stages
check_expected_outputs = true

# the method to register outputs, can be missing - will not generate metamist analysis entries
status_reporter = 'metamist'

# defaults for the storage to attach to QC jobs for the CRAM file
exome_cram_gb = 20
genome_cram_gb = 100

# HaplotypeCaller resource options
haplotypecaller_cpu = 2
pairhmm_threads = 4

[workflow.somalier_pedigree]
send_to_slack = true

[workflow.cram_multiqc]
send_to_slack = true
[workflow.cram_multiqc.extra_config]
plots_force_interactive = true

[workflow.gvcf_multiqc]
send_to_slack = true
[workflow.gvcf_multiqc.extra_config]
plots_force_interactive = true



[qc_thresholds.genome.min]
"MEDIAN_COVERAGE" = 10
"PCT_PF_READS_ALIGNED" = 0.80

[qc_thresholds.genome.max]
"FREEMIX" = 0.04
"reads_duplicated_percent" = 25

[references.broad]
ref_fasta = "gs://cpg-common-main/references/hg38/v0/dragen_reference/Homo_sapiens_assembly38_masked.fasta"

[images]
dragmap = "australia-southeast1-docker.pkg.dev/cpg-common/images/dragmap_plus_ora:2.7.0-1"
gatk = "australia-southeast1-docker.pkg.dev/cpg-common/images/gatk:4.6.2.0-2"
picard = "australia-southeast1-docker.pkg.dev/cpg-common/images/picard:2.27.4"
samtools = "australia-southeast1-docker.pkg.dev/cpg-common/images/samtools:1.18"
somalier = "australia-southeast1-docker.pkg.dev/cpg-common/images/somalier:0.3.1-1"
verifybamid = "australia-southeast1-docker.pkg.dev/cpg-common/images/verifybamid:2.0.1"

[references]
dragmap_prefix = "gs://cpg-common-main/references/hg38/v0/dragen_reference"
genome_contam_ud = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/1000g.phase3.100k.b38.vcf.gz.dat.UD"
genome_contam_bed = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/1000g.phase3.100k.b38.vcf.gz.dat.bed"
genome_contam_mu = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/1000g.phase3.100k.b38.vcf.gz.dat.mu"
exome_contam_ud = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/whole_exome_illumina_coding_v1.Homo_sapiens_assembly38.1000g.contam.UD"
exome_contam_bed = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/whole_exome_illumina_coding_v1.Homo_sapiens_assembly38.1000g.contam.bed"
exome_contam_mu = "gs://cpg-common-main/references/hg38/v0/contamination-resources/1000g/whole_exome_illumina_coding_v1.Homo_sapiens_assembly38.1000g.contam.mu"
genome_evaluation_interval_lists = "gs://cpg-common-main/references/hg38/v0/wgs_evaluation_regions.hg38.interval_list"
exome_evaluation_interval_lists = "gs://cpg-common-main/references/hg38/v0/exome_evaluation_regions.v1.interval_list"
noalt_bed = "gs://cpg-common-main/references/hg38/v0/sv-resources/resources/v1/primary_contigs_plus_mito.bed.gz"
genome_calling_interval_lists = "gs://cpg-common-main/references/hg38/v0/wgs_calling_regions.hg38.interval_list"
genome_coverage_interval_list='gs://cpg-common-main/references/hg38/v0/wgs_coverage_regions.hg38.interval_list'
exome_calling_interval_lists = "gs://cpg-common-main/references/hg38/v0/exome_calling_regions.v1.interval_list"
hg38_telomeres_and_centromeres_intervals_list = "gs://cpg-common-main/references/hg38/v0/hg38.telomeres_centromeres_and_hard_calling_exclusions.interval_list"
somalier_sites = "gs://cpg-common-main/references/somalier/sites.hg38.vcf.gz"
dbsnp_vcf = "gs://cpg-common-main/references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
